header{
    background-color: #19376D;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
header nav{
    display:flex;
    
    

}
header nav a{
    padding: 20px;
    padding-right: 10%;
    text-decoration: none;
    color: white;
    border-right: 1px solid black;
}
header a:hover{
    background-color:#002B5B ;
}
header a:active{
  background-color:#0B2447 ;
}
main{
 margin-top: 56.3px;
 padding-top: px;
 
}
main h2{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 205px;
    padding-left: 10px;
    font-size: 17px;
    font: bold;
    border: 1px solid black;
  
    background-color: #576CBC;
    text-align: center;
    color: white;
    position:sticky;
    top: 55px;
    width:100% ;
}
#form fieldset{
    display: flex;
flex-direction: column;
width: 7%;
padding: 10px;


}
label{padding: 5px;
font-size: 15px;

}
legend{
    font-size: 18px;
    font: bold;
    border: 2px solid black;
    padding: 10px;
    width:160px ;
    text-align: center;
    color: white;
    
    
}
#form{

    position: fixed;
    left: 0;
    height: 100%;
    background-color: #576CBC;
    
    padding-top: 60px;
    border: 1px solid;
   
}

section{
    padding-top:px;
    margin-left: 240px;
    display: flex;
    flex-wrap: wrap;
}
section div{
    margin: 45px ;
    width: 200px;
    padding: 10px;
    background-color: #A5D7E8;
    text-align: center;
    border: 1px solid;
    
}
img{
    width: 200px;
}
footer{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid;
    padding: 10px;
    background-color: white
    
    
}
footer img{
    height: 30px;
    width: 30px;
    padding-left: 20px;
}

